/* Import font */
@import url("https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap");
/* import bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

/* body style */
body {
  margin: 0px;
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

* {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

/* navbar style */
header nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-gray);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  color: var(--main-white);
  z-index: 9999;
}

.navlink {
  width: fit-content;
  margin: auto;
  margin-right: 0;
}

.logo {
  margin-left: 20px;
  padding-top: 5px;
  user-select: none;
}

#name {
  margin: 5px;
  font-size: 2rem;
  font-weight: normal;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

nav li {
  list-style: none;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--main-white);
  transition: background-color 0.5s;
  border: 2px solid transparent;
}

nav a:hover {
  background-color: #2c3136;
  transition: background-color 0.5s;
}

/* End navbar*/

/* Welcome section */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 300px;
}

.welcome-font-header {
  font-size: 5rem;
  color: var(--main-white);
  margin-top: 0;
  margin-bottom: 0;
}

.welcome-font-p {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--main-white);
}

/* End welcome section */

/* Start contact */
.more-header p {
  margin-top: 20%;
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  color: var(--main-white);
}

.more-link {
  margin: 0;
}

.more-detail {
  text-decoration: none;
  color: var(--main-white);
  margin: 20px;
  font-size: 2.2rem;
  display: inline-block; /* Add this line */
  transition: transform 0.3s; /* Add a transition for smooth movement */
}

.more-detail:hover {
  transform: translateY(8px);
}

/*Footer */
.footer-basic {
  background-color: #2d3748;
  color: var(--main-white);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */

/*End Footer */

/* hero */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/hero.jpg");
  height: 100vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* Prevent content from overflowing */
  overflow: hidden;
}
/* end hero */

/* About-introduction section */
.intro-div {
  padding-bottom: 75px;
  height: 100vh;
  display: flex;
  background-color: var(--main-white);
}

.introduction {
  margin: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

.introduction h1 {
  font-size: 4rem;
}

.introduction p {
  font-size: 1.5rem;
}

.profile {
  margin: auto;
  margin-left: 200px;
  width: 350px;
  height: 350px;
}

/* About me section */

.about-section {
  background-color: #2d3748;
  color: var(--main-white);
  width: 100%;
  display: flex;
}

.description {
  width: 50%;
}

.about-me {
  padding: 100px;
  padding-left: 200px;
  display: flex;
  flex-direction: row;
}

.about-me p {
  margin-top: 20px;
  font-size: 20px;
}

.qut-logo {
  margin: auto;
  width: 640px;
  height: auto;
}

/* End About section */

/* Resume section */

/* Skill section */

.overview-section {
  background-color: var(--main-white);
  height: 100vh;
}

.summary {
  margin-left: 20vh;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.summary h1 {
  font-size: 4rem;
}

.summary p {
  font-size: 1.5rem;
}

.skill-summary {
  width: 50%;
}

.experience-summary {
  width: 60%;
  align-self: flex-end;
  margin: 50px;
}

.skills-section {
  background-color: #2d3748;

  color: var(--main-white);
  width: 100%;
  display: flex;
  flex-direction: column; /* Display children in a column */
  align-items: center; /* Center horizontally */
}

.skills-section h1 {
  margin: 7vh;
  font-size: 3.5rem;
}

.skills-list {
  display: flex;
  margin: auto;
  margin-bottom: 100px;
}

.skills-list li {
  padding: 7px;
  list-style: none;
  font-size: 1.5rem;
}

.skills-list ul {
  width: 90%;
  margin-left: 20px;
}

.skills-category h3 {
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 2px solid #ffffff;
}

.skills-category {
  margin: 20px;
  padding: 20px;
  width: 400px;
  border-style: solid;
  border-width: thin;
  border-color: #6a7fa5;
  background-color: #2b3241;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 7px 29px 0px;
}

/* Career History Timeline */
/* Thanks https://bootsnipp.com/snippets/ElpmP*/
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}

.section-title {
  margin-bottom: 60px;
}
.section-title p {
  color: #777;
  font-size: 16px;
}
.section-title h4 {
  text-transform: capitalize;
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.section-title h4:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: var(--main-blue);
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}
.section-title h4:after {
  position: absolute;
  background-color: var(--main-blue);
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  border-radius: 50%;
}
ul.timeline-list {
  position: relative;
  margin: 0;
  padding: 0;
}
ul.timeline-list:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-blue);
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
ul.timeline-list li {
  position: relative;
  clear: both;
  display: table;
}
.timeline_content {
  border: 2px solid var(--main-blue);
  border-radius: 5px;
  background-color: #fff;
}
ul.timeline-list li .timeline_content {
  width: 45%;
  color: #333;
  padding: 30px;
  float: left;
  text-align: right;
}
ul.timeline-list li:nth-child(2n) .timeline_content {
  float: right;
  text-align: left;
}
.timeline_content h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
}
ul.timeline-list li:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--main-blue);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.timeline_content span {
  font-size: 18px;
  font-weight: 500;
  color: var(--main-blue);
}

.experience h4 {
  font-size: 20px;
}

.experience p {
  font-size: 16px;
}

/* End career history */

.divider {
  margin: 30px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/*Start education */
.education-introduction {
  margin: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 275px;
  color: #283e72;
}

.logo-small {
  width: 200px;
  height: auto;
}
.education {
  margin: 50px;
  text-align: center;
}

.education h2 {
  margin-left: 20px;
}

.education li {
  padding: 2px;
  list-style: none;
  font-size: 15px;
}

/* end Resume section */

/* start Porfolio section */
.portfolio-section {
  background-color: var(--main-white);
  width: 100%;
}

.porfolio-heading {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.porfolio-work {
  height: auto; /* Remove fixed height */
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to new rows */
  justify-content: space-evenly; /* Adjust spacing between flex items */
}

.porfolio-work > * {
  flex-basis: calc(
    33.33% - 80px
  ); /* Adjust based on the number of cards per row */
  margin: 10px; /* Adjust spacing between cards */
}

.problem {
  text-align: center;
}

/* Got from https://codepen.io/lucasyem/pen/ZEEYKdj */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* Got from https://codepen.io/jared-parsons/pen/xxVoebB */
.btn-more-detail {
  margin-left: 10px;
}

.box {
  border-radius: 5px;
  box-shadow: 0px 10px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}

.blue {
  border-top: 3px solid var(--blue);
}

.box h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}

@media (min-width: 950px) {
  .box {
    width: 20%;
  }
  .header p {
    width: 30%;
  }
}

/*Leetcode section */
.leetcode-heading {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leetcode-point {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.leetcode-problem {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leetcode-problem h3,
.leetcode-problem span {
  font-size: 24px;
}
.easy {
  color: green;
}

.medium {
  color: var(--orange);
}

.hard {
  color: var(--main-red);
}

.leetcode-recent-problems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leetcode-recent-problems h3 {
  padding: 10px;
}

.leetcode-stat {
  margin: 10px;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

/* End Porfolio Section */
