/* Import font */
@import url("https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap");
/* import bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* body style */

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

* {
  font-size: 12px;
}

/* navbar style */
header nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-gray);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

  color: var(--main-white);
  z-index: 9999;
}

.navlink {
  width: fit-content;
  margin: auto;
  margin-right: 0;
}

.logo {
  margin-left: 20px;
  padding-top: 5px;
  user-select: none;
}

#name {
  margin: 5px;
  font-size: 2rem;
  font-weight: normal;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

nav li {
  list-style: none;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--main-white);
  transition: background-color 0.5s;
  border: 2px solid transparent;
}

nav a:hover {
  background-color: #2c3136;
  transition: background-color 0.5s;
}

/* End navbar*/

/* Welcome section */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 300px;
}

.welcome-font-header {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  color: var(--main-white);
  margin-top: 0;
  margin-bottom: 0;
}

.welcome-font-p {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--main-white);
}

/* End welcome section */

/* Start contact */
.more-header p {
  margin-top: 20%;
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  color: var(--main-white);
}

.more-link {
  margin: 0;
}

.more-detail {
  text-decoration: none;
  color: var(--main-white);
  margin: 20px;
  font-size: 2.2rem;
  display: inline-block; /* Add this line */
  transition: transform 0.3s; /* Add a transition for smooth movement */
}

.more-detail:hover {
  transform: translateY(8px);
}

/*Footer */
.footer-basic {
  background-color: #2d3748;
  color: var(--main-white);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */

/*End Footer */

/* hero */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/hero.jpg");
  height: 100vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* Prevent content from overflowing */
  overflow: hidden;
}
/* end hero */

/* About-introduction section */
.intro-div {
  padding-bottom: 75px;
  height: 100vh;
  display: flex;
  background-color: var(--main-white);
}

.introduction {
  font-family: "Poppins", sans-serif;
  margin: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

.introduction h1 {
  font-size: 4rem;
}

.introduction p {
  font-size: 1.5rem;
}

.profile {
  margin: auto;
  margin-left: 200px;
  width: 350px;
  height: 350px;
}

/* About me section */

.about-section {
  background-color: #2d3748;
  color: var(--main-white);
  width: 100%;
  display: flex;
}

.description {
  width: 50%;
}

.about-me {
  padding: 100px;
  padding-left: 200px;
  display: flex;
  flex-direction: row;
}

.about-me p {
  margin-top: 20px;
  font-size: 20px;
}

.qut-logo {
  margin: auto;
  width: 640px;
  height: auto;
}

/* End About section */

/* Resume section */

/* Skill section */

.overview-section {
  background-color: var(--main-white);
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.summary {
  margin-left: 20vh;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.summary h1 {
  font-size: 4rem;
}

.summary p {
  font-size: 1.5rem;
}

.skill-summary {
  width: 50%;
}

.experience-summary {
  width: 60%;
  align-self: flex-end;
  margin: 50px;
}

.skills-section {
  background-color: #2d3748;
  font-family: "Poppins", sans-serif;
  color: var(--main-white);
  width: 100%;
  display: flex;
  flex-direction: column; /* Display children in a column */
  align-items: center; /* Center horizontally */
}

.skills-section h1 {
  margin: 7vh;
  font-size: 3.5rem;
}

.skills-list {
  display: flex;
  margin-left: 25px;
}

.skills-list li {
  padding: 7px;
  list-style: none;
  font-size: 1.5rem;
}

.skills-list ul {
  width: 90%;
  margin-left: 20px;
}

.skills-category h3 {
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 2px solid #ffffff;
}

.skills-category {
  margin: 20px;
  padding: 20px;
  width: 400px;
  border-style: solid;
  border-width: thin;
  border-color: #6a7fa5;
  background-color: #2b3241;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 7px 29px 0px;
}
